@import "main.css";

/* basic setups */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  list-style: none;
  font-style: normal;
}

input,
textarea {
  outline: none;
}

input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea {
  cursor: auto;
  resize: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: var(--round);
  border: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

.logo {
  margin-left: 20%;
  margin-right: 5px;
  font-size: var(--title-size);
  font-weight: 600;
  line-height: 41px;
  color: white;
  cursor: pointer;
}

#io {
  color: var(--light-cyan);
}

.nav-header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

#home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-container {
  margin-top: 5px;
}

.navbar-link {
  position: relative;
  margin-right: 100px;
  font-size: var(--text-size);
  font-weight: normal;
  line-height: 27px;
  color: white;
}

.navbar-link:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 20px;
  left: 0;
  border-bottom: 3px solid var(--light-cyan);
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
}

.navbar-link:hover:after {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

/* menu */

.menu-toggle-icon {
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  font-size: 30px;
}

.menu-toggle-icon:hover {
  color: white;
}

.bx,
.bx-id-card,
.bxs-planet,
.bxs-game,
.bxs-news,
.bxs-contact {
  color: white;
  position: relative;
  top: 2px;
  right: 8px;
}

#menu-toggle {
  margin-top: 5px;
  margin-right: 20%;
  order: 3;
}

#menu-container,
#menu-toggle {
  display: none;
}

@media screen and (max-width: 1480px) {
  #menu-toggle {
    display: block;
    transition: 0.4s;
  }

  .navbar-container {
    display: none;
    transition: 1s;
  }
}

.menu-link {
  display: block;
  color: white;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: var(--text-size);
}

.menu-link:hover {
  color: var(--light-cyan);
  transition: 0.4s;
}

.menu-box {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  width: 40%;
  border-radius: 16px;
  text-align: center;
  padding: 12px;
  background: #07375f;
  transition: 0.4s;
  z-index: 100;
  box-shadow: 0px 10px 186px #56a3b4;
}

.add-margin-menu {
  margin-top: 20px;
}

/* home page */

#home {
  position: relative;
  height: 100vh;
}

#home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: cover;
  z-index: 0;
}

.main-content {
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-text {
  margin-left: 20%;
}

.main-text {
  font-weight: 600;
  font-size: var(--extra-big-size);
  line-height: 75px;
}

.main-quote-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-quote {
  font-size: var(--text-size);
  line-height: 27px;
}

#explore-btn {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-weight: bold;
  font-size: var(--normal-size);
  line-height: 34px;
  box-shadow: 0px 10px 186px #56a3b4;
  width: 188px;
  height: 75px;
  cursor: pointer;
  position: relative;
  right: 5px;
  overflow: hidden;
  background: linear-gradient(to right, #b8dcfa 50%, var(--light-blue) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

#explore-btn:hover {
  background-position: left bottom;
  transition: all 0.25s ease-out;
}

#earth-img-container {
  position: relative;
  top: 25px;
}

@media screen and (max-width: 1535px), (max-height: 780px) {
  #earth-img {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1335px), (max-height: 700px) {
  :root {
    --text-size: 18px;
    --big-size: 45px;
    --extra-big-size: 45px;
  }

  .main-text {
    line-height: normal;
  }
}

@media screen and (max-width: 1262px), (max-height: 670px) {
  #earth-img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1150px) {
  :root {
    --text-size: 16px;
    --title-size: 30px;
    --big-size: 45px;
    --extra-big-size: 40px;
  }

  .main-text {
    line-height: normal;
  }

  .main-quote-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1070px) {
  #earth-img-container {
    display: none;
  }

  :root {
    --text-size: 15px;
    --title-size: 25px;
    --big-size: 45px;
    --extra-big-size: 50px;
  }
}

@media screen and (max-height: 645px) {
  :root {
    --text-size: 15px;
    --title-size: 20px;
    --big-size: 35px;
    --extra-big-size: 35px;
  }

  .main-text {
    line-height: normal;
  }

  .main-quote-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 637px) {
  :root {
    --text-size: 13px;
    --title-size: 22px;
    --big-size: 35px;
    --extra-big-size: 35px;
  }

  .main-text {
    line-height: normal;
  }

  .main-quote-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 515px) {
  :root {
    --text-size: 11px;
    --title-size: 20px;
    --big-size: 35px;
    --extra-big-size: 35px;
  }

  #explore-btn {
    width: 168px;
    height: 65px;
  }
}

@media screen and (max-height: 510px) {
  :root {
    --text-size: 15px;
    --title-size: 20px;
    --big-size: 35px;
    --extra-big-size: 35px;
  }

  #explore-btn {
    width: 168px;
    height: 65px;
  }
}

.bx-chevron-down {
  color: white;
}

@keyframes downBtnMove {
  0% {
    bottom: 25px;
  }

  50% {
    bottom: 40px;
    opacity: 1;
  }
}

@-moz-keyframes downBtnMove {
  0% {
    bottom: 25px;
  }

  50% {
    bottom: 40px;
    opacity: 1;
  }
}

@-webkit-keyframes downBtnMove {
  0% {
    bottom: 25px;
  }

  50% {
    bottom: 40px;
    opacity: 1;
  }
}

@-ms-keyframes downBtnMove {
  0% {
    bottom: 25px;
  }

  50% {
    bottom: 40px;
    opacity: 1;
  }
}

.down-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: downBtnMove 1.5s infinite;
  -webkit-animation: downBtnMove 1.5s infinite;
  -moz-animation: downBtnMove 1.5s infinite;
  -ms-animation: downBtnMove 1.5s infinite;
  -o-animation: downBtnMove 1.5s infinite;
  opacity: 0.5;
  cursor: pointer;
}

/* Planets Page */

#planets {
  position: relative;
  height: 100vh;
}

#planets-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: cover;
  z-index: 0;
}

#planets-main-text {
  line-height: 50px;
}

.planets-text {
  position: relative;
  right: 150px;
}

#sun-img {
  position: relative;
  top: 25px;
  width: 720px;
  height: 623.76px;
}

#learn-more-planets-btn {
  width: 230px;
  height: 75px;
  color: white;
  background: var(--purple);
  box-shadow: 0px 10px 186px #56a3b4;
  border-radius: var(--round);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(to right, #9232e7 50%, var(--purple) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

#learn-more-planets-btn:hover {
  background-position: left bottom;
  transition: all 0.25s ease-out;
}

@media screen and (max-width: 1420px) {
  #sun-img {
    width: 650px;
    height: 553.76px;
  }
}

@media screen and (max-width: 1335px), (max-height: 651px) {
  #planets-main-quote-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1280px), (max-height: 651px) {
  #sun-img {
    width: 600px;
    height: 503.76px;
  }
}

@media screen and (max-width: 1215px) {
  #sun-img {
    width: 510px;
    height: 403.76px;
  }
}

@media screen and (max-width: 1140px), (max-height: 540px) {
  #sun-img-container {
    display: none;
  }

  .planets-text {
    right: 0;
  }
}

@media screen and (max-width: 638px) {
  #learn-more-planets-btn {
    font-size: 20px;
    width: 200px;
    height: 55px;
  }
}

/* News Page */

#news {
  position: relative;
  height: 100vh;
}

#news-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: cover;
  z-index: 0;
}

#news-main-text {
  line-height: 50px;
}

.news-text {
  margin-left: 20%;
}

#news-main-text {
  font-size: var(--big-size);
}

#learn-more-news-btn {
  background-color: var(--grey);
  color: white;
  font-weight: bold;
  font-size: var(--normal-size);
  line-height: 34px;
  box-shadow: 0px 10px 186px #56a3b4;
  width: 230px;
  height: 75px;
  cursor: pointer;
  position: relative;
  right: 5px;
  overflow: hidden;
  background: linear-gradient(to right, #898a90 50%, var(--grey) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

#learn-more-news-btn:hover {
  background-position: left bottom;
  transition: all 0.25s ease-out;
}

#moon-img-container {
  position: relative;
  top: 20px;
}

#moon-img {
  width: 850px;
  height: 850px;
}

@media screen and (max-width: 1646px) {
  #news-main-text {
    font-size: calc(var(--big-size) - 10px);
    line-height: normal;
  }
}

@media screen and (max-width: 1533px) {
  #moon-img {
    width: 750px;
    height: 750px;
  }
}

@media screen and (max-width: 1406px) {
  #moon-img {
    width: 650px;
    height: 650px;
  }
}

@media screen and (max-width: 1231px) {
  #news-main-quote-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #learn-more-news-btn {
    font-size: calc(var(--normal-size) - 5px);
    width: 200px;
  }

  #moon-img-container {
    display: none;
  }

  #news-main-content {
    justify-content: center;
  }

  .news-text {
    position: absolute;
    transform: translate(-50%, 0);
    margin-left: 50%;
  }

  #news-main-text {
    font-size: calc(var(--big-size) - 5px);
    line-height: normal;
  }
}

/* Contact Page */

#contact {
  position: relative;
  height: 100vh;
}

#contact-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: cover;
  z-index: 0;
}

#main-form-container {
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-contact-title {
  font-weight: 600;
  font-size: 70px;
  line-height: 95px;
}

#contact-sub-text {
  font-size: var(--normal-size);
  font-weight: 600;
  line-height: 34px;
}

#user-message {
  width: 689px;
  height: 82px;
  color: var(--dark);
  font-weight: 600;
  font-size: var(--normal-size);
  line-height: 34px;
  padding: 10px 10px 155px 10px;
  border-radius: var(--normal-radius);
  border: none;
  margin-top: 45px;
}

#user-name,
#user-email {
  width: 689px;
  height: 82px;
  color: var(--dark);
  font-weight: 600;
  font-size: var(--normal-size);
  line-height: 34px;
  padding: 10px;
  border-radius: var(--normal-radius);
  border: none;
  margin-top: 45px;
}

#submit-btn {
  background-color: var(--grey);
  color: white;
  font-weight: bold;
  font-size: var(--normal-size);
  line-height: 34px;
  box-shadow: 0px 10px 186px #56a3b4;
  width: 230px;
  height: 75px;
  cursor: pointer;
  position: relative;
  right: 5px;
  overflow: hidden;
  background: linear-gradient(to right, #898a90 50%, var(--grey) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: none;
  border-radius: var(--round);
}

#submit-btn:hover {
  background-position: left bottom;
  transition: all 0.25s ease-out;
}

#submit-btn {
  margin-top: 65px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  #user-name,
  #user-email,
  #user-message {
    width: 500px;
  }

  #contact-sub-text {
    font-size: calc(var(--normal-size) - 7px);
  }

  #main-contact-title {
    font-size: 60px;
  }
}

/* Responsive */

#hidden-small-screen-text {
  display: none;
}

@media screen and (max-width: 561px), (max-height: 480px) {
  *:not(body):not(html) {
    display: none;
  }

  #hidden-small-screen-text {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  body {
    background: white;
  }
}
