@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* root setups */

:root {
  /* colors setup */
  --light-transparent: rgba(244, 252, 252, 0.54);
  --dark-transparent: rgba(244, 252, 252, 0.84);
  --light-cyan: #52e2f9;
  --light-blue: #d8ecfc;
  --dark-blue: #07375f;
  --purple: #a85cec;
  --grey: #98999e;
  --dark: #474747;

  /* font-setup */
  --text-size: 20px;
  --normal-size: 25px;
  --title-size: 30px;
  --big-size: 50px;
  --extra-big-size: 55px;
  --font-family: "Open Sans", sans-serif;

  /* button */
  --normal-radius: 7px;
}

/* basic setups */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  list-style: none;
  font-style: normal;
}

body,
html {
  overflow-y: auto;
  overflow-x: hidden;
}

.ctrl-btn {
  margin-top: 37px;
  cursor: pointer;
}

#background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: cover;
  transform: rotate(-180deg);
  z-index: 0;
}

input,
textarea {
  outline: none;
}

input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea {
  cursor: auto;
  resize: none;
}

a {
  text-decoration: none;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

.logo {
  margin-left: 20%;
  margin-right: 5px;
  font-size: var(--title-size);
  font-weight: 600;
  line-height: 41px;
  color: white;
  cursor: pointer;
}

#io {
  color: var(--light-cyan);
}

.nav-header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

#home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-container {
  margin-top: 5px;
}

.navbar-link {
  position: relative;
  margin-right: 100px;
  font-size: var(--text-size);
  font-weight: normal;
  line-height: 27px;
  color: white;
}

.navbar-link:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 20px;
  left: 0;
  border-bottom: 3px solid var(--light-cyan);
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
}

.navbar-link:hover:after {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

/* menu */

.menu-toggle-icon {
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  font-size: 30px;
}

.menu-toggle-icon:hover {
  color: white;
}

.bx,
.bx-id-card,
.bxs-planet,
.bxs-game,
.bxs-news,
.bxs-contact {
  color: white;
  position: relative;
  top: 2px;
  right: 8px;
}

#menu-toggle {
  margin-top: 5px;
  margin-right: 20%;
  order: 3;
}

#menu-container,
#menu-toggle {
  display: none;
}

@media screen and (max-width: 1480px) {
  #menu-toggle {
    display: block;
    transition: 0.4s;
  }

  .navbar-container {
    display: none;
    transition: 1s;
  }
}

.menu-link {
  display: block;
  color: white;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: var(--text-size);
}

.menu-link:hover {
  color: var(--light-cyan);
  transition: 0.4s;
}

.menu-box {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  width: 40%;
  border-radius: 16px;
  text-align: center;
  padding: 12px;
  background: #07375f;
  transition: 0.4s;
  z-index: 100;
  box-shadow: 0px 10px 186px #56a3b4;
}

.add-margin-menu {
  margin-top: 20px;
}

/* Main Content */

#main-content-box {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 59%;
  min-height: 70vh;
  border-radius: 2rem;
  transform: translate(-50%, -45%);
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

#planets-navbar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

#planets-content-box {
  flex: 6;
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.planets-icon-container {
  cursor: pointer;
}

#planet-information {
  word-wrap: break-word;
  font-size: 25px;
  line-height: 34px;
  color: white;
}

#img-container {
  margin-right: 30px;
  margin-left: 15px;
}

#planet-name {
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  color: white;
}

#back-btn {
  border-radius: var(--normal-radius);
  border: none;
  background-color: #bfbfbf;
  width: 109px;
  height: 59px;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  color: #ffffff;
  display: none;
}

#back-btn:hover {
  transition: 0.4s;
  background-color: #999999;
}

#next-btn {
  border-radius: var(--normal-radius);
  border: none;
  background: #fb9327;
  width: 109px;
  height: 59px;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  color: #ffffff;
  /* margin-left: 15px; */
}

#next-btn:hover {
  transition: 0.4s;
  background-color: #fa8405;
}

/* Responsiveness */

@media screen and (max-width: 1436px) {
  #img-container {
    display: none;
  }

  #planet-information {
    margin-right: 30px;
  }
}
